@* Adrian Piwin *@

@model Item

@{
    ViewData["Title"] = "Edit Item";
}

    <div>
        <h1>Edit Item</h1>

        <br>

        <form asp-action="EditItem" method="post">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Category</span>
                </div>
                <input asp-for="category" type="text" value="@Model.category" class="form-control" aria-label="Category" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Title</span>
                </div>
                <input asp-for="title" type="text" value="@Model.title" class="form-control" aria-label="Title" aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                </div>
                <textarea asp-for="description" value="@Model.description" class="form-control" aria-label="Description"></textarea>
            </div>

            <br />

            <button type='submit'>Edit item</button>
        </form>
    </div>

<style>
    .input-group-text {
        width: 110px;
    }
     
</style>